{% load staticfiles %}
<!DOCTYPE html>
<!--
Template Name: Natucam
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="en">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>iQube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <!-- jQuery 2.2.3 -->
    <script src="{% static 'admin_theme/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'admin_theme/bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body id="top">
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="{% url 'home' %}">BootCamp</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home </a></li>
                    {#                    <li><a href="{% url '' %}">Transfer Fund </a></li>#}
                    {#                    <li><a href="{% url 'request_id' %}">Request Id </a></li>#}
                    {#                    <li><a href="{% url 'selectvendor' %}">Feedback </a></li>#}
                    {#                    <li><a href="{% url 'profile' %}">Profile</a></li>#}
                    {#                    <li><a href="{% url 'profile_settings' %}">Settings</a></li>#}
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{#<!-- ################################################################################################ -->#}
{#<!-- ################################################################################################ -->#}
{#<!-- ################################################################################################ -->#}
{#<div class="wrapper row0">#}
{#  <div id="topbar" class="hoc clear">#}
{#    <!-- ################################################################################################ -->#}
{#    <ul>#}
{#      <li><i class="fa fa-clock-o"></i> Mon. - Fri. 8am - 5pm</li>#}
{#      <li><i class="fa fa-phone"></i> +00 (123) 456 7890- Sathish Kumar</li>#}
{#        <li><a href="https://www.iqube.io"> iqube.io</a></li>#}
{#      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>#}
{#      <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>#}
{#      <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>#}
{#    </ul>#}
{##}
{#    <!-- ################################################################################################ -->#}
{#  </div>#}
{#</div>#}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
{% for message in messages %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div align="center"
                 class="alert alert-{{ message.tags }}">{{ message }}</div>
        </div>
    </div>
{% endfor %}
{% block content-wrapper %}
    <div class="bgded overlay" style="background-image:url('{% static 'images/IoT3.jpg' %}');">
        <!-- ################################################################################################ -->
        {#  <div class="wrapper row1">#}
        {#    <header id="header" class="hoc clear"> #}
        <!-- ################################################################################################ -->
        {#      <div id="logo">#}
        {#        <center><h1><a href="index.html">iQube</a></h1></center>#}
        {#      </div>#}
        {#      <nav id="mainav" class="fl_right">#}
        {#        <ul class="clear">#}
        {#          <li class="active"><a href="index.html">Home</a></li>#}
        {#          <li><a class="drop" href="#">Pages</a>#}
        {#            <ul>#}
        {#              <li><a href="pages/gallery.html">Gallery</a></li>#}
        {#              <li><a href="pages/full-width.html">Full Width</a></li>#}
        {#              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>#}
        {#              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>#}
        {#              <li><a href="pages/basic-grid.html">Basic Grid</a></li>#}
        {#            </ul>#}
        {#          </li>#}
        {#          <li><a class="drop" href="#">Dropdown</a>#}
        {#            <ul>#}
        {#              <li><a href="#">Level 2</a></li>#}
        {#              <li><a class="drop" href="#">Level 2 + Drop</a>#}
        {#                <ul>#}
        {#                  <li><a href="#">Level 3</a></li>#}
        {#                  <li><a href="#">Level 3</a></li>#}
        {#                  <li><a href="#">Level 3</a></li>#}
        {#                </ul>#}
        {#              </li>#}
        {#              <li><a href="#">Level 2</a></li>#}
        {#            </ul>#}
        {#          </li>#}
        {#          <li><a href="#">Link Text</a></li>#}
        {#          <li><a href="#">Link Text</a></li>#}
        {#        </ul>#}
        {#      </nav>#}
        <!-- ################################################################################################ -->
        {#    </header>#}
        {#  </div>#}
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <article>
                <!-- ################################################################################################ -->
                <h3 class="heading">IOT Bootcamp</h3>
                <p>Molestie neque vehicula cursus eros curabitur tincidunt massa egestas maximus ipsum non tristique
                    nisi proin</p>
                <p class="font-x1 uppercase bold">Consectetur iaculis vitae dolor</p>
                <footer>

                    {% if logged_in == True %}
                        <h4>Username: {{ request.user.username }}<br><br>
                        {% if team_created == True %}
                            Team Name: {{ request.user.team.name }}<br><br>
                        {% else %}
                            <ul class="nospace inline pushright">
                                <li><a class="btn" href="{% url 'team_creation' %}">Team Creation</a></li>
                            </ul>
                        {% endif %}
                        The Fee for the Camp should be paid on the spot only
                        </h4>
                    {% else %}
                        <ul class="nospace inline pushright">
                            <li><a class="btn" href="{% url 'registration' %}">Register</a></li>
                            <li><a class="btn inverse" href="{% url 'login' %}">Login</a></li>
                        </ul>
                    {% endif %}

                </footer>
                <!-- ################################################################################################ -->
            </article>
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->


    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div>
                <center><h4 class="heading">IOT</h4></center>
                <p>Internet Of Things</p>
            </div>
            <div class="group">
                <div class="two_third first">
                    <p><strong>What is IOT?</strong></p>
                    <p>The Internet of Things (IoT), is the network of physical objects or things embedded with
                        electronics,

                        software, sensors, and connectivity to enable objects to exchange data with the production,
                        operator

                        and/or other connected devices.

                        IoT helps in developing smart real-time industry and domestic applications involving safety,
                        ease of

                        usage, time criticality, entertainment and comfort with the help of Embedded, electronics,
                        software,

                        sensor and communication technologies so it opened up lot of career/entrepreneurial avenues for

                        those who are studying electronics, instrumentation, computer science and IT engineering.

                        This program helps students to keep upadted with the recent trends in IOT. Equip themselfs to
                        slove

                        complex problems and to build various prototypes. If your a person intrested in build cool stufs
                        then

                        this the course for you.</p>
                </div>
                <div class="one_third">
                    <p><strong>Sit amet lobortis ipsum</strong></p>
                    <figure class="videocontainer">
                        <!-- Important: Any type of video called via "iframe" must be in a container using class="videocontainer" -->
                        <iframe src="https://www.youtube-nocookie.com/embed/8Z9089048wk?modestbranding=1&amp;showinfo=0&amp;vq=hd1080&amp;rel=0&amp;wmode=transparent"
                                allowfullscreen></iframe>
                        <figcaption>Pretium vitae nullam varius velit eu fringilla scelerisque morbi.</figcaption>
                    </figure>
                </div>
            </div>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay light" style="background-image:url('images/demo/backgrounds/02.png');">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Felis etiam efficitur</h6>
                <p>Tellus ipsum sagittis nec volutpat vestibulum</p>
            </div>
            <ul class="nospace group">
                <li class="one_third first btmspace-30">
                    <article><i class="btmspace-30 fa fa-3x fa-ravelry"></i>
                        <h6 class="heading"><a href="#">Ligula cras non</a></h6>
                        <p>Non id nulla quisque laoreet ullamcorper enim vel porta nam interdum [&hellip;]</p>
                    </article>
                </li>
                <li class="one_third btmspace-30">
                    <article><i class="btmspace-30 fa fa-3x fa-s15"></i>
                        <h6 class="heading"><a href="#">Nisi donec nunc</a></h6>
                        <p>Nunc posuere imperdiet nam pharetra urna nec vulputate consectetur nam [&hellip;]</p>
                    </article>
                </li>
                <li class="one_third btmspace-30">
                    <article><i class="btmspace-30 fa fa-3x fa-ge"></i>
                        <h6 class="heading"><a href="#">Gravida placerat</a></h6>
                        <p>Augue sed velit tempor vehicula ultricies interdum interdum et malesuada [&hellip;]</p>
                    </article>
                </li>
                <li class="one_third first">
                    <article><i class="btmspace-30 fa fa-3x fa-gg"></i>
                        <h6 class="heading"><a href="#">Pretium tristique</a></h6>
                        <p>Fames ac ante ipsum primis in faucibus nam lacus diam pulvinar quis [&hellip;]</p>
                    </article>
                </li>
                <li class="one_third">
                    <article><i class="btmspace-30 fa fa-3x fa-superpowers"></i>
                        <h6 class="heading"><a href="#">Phasellus massa</a></h6>
                        <p>Semper cursus dolor suspendisse dictum quam eu consectetur donec [&hellip;]</p>
                    </article>
                </li>
                <li class="one_third">
                    <article><i class="btmspace-30 fa fa-3x fa-yelp"></i>
                        <h6 class="heading"><a href="#">Pretium dapibus</a></h6>
                        <p>Blandit elementum quam ac imperdiet turpis ultrices quis sed enim [&hellip;]</p>
                    </article>
                </li>
            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Facilisis felis non</h6>
                <p>Eleifend condimentum ipsum praesent posuere vel</p>
            </div>
            <div class="group testimonials">
                <article class="one_half first"><img src="images/demo/100x100.png" alt="">
                    <blockquote>Varius euismod magna lectus interdum sapien id luctus eros sem sit amet eros nullam eu
                        pulvinar leo in eget lacinia justo curabitur sed sollicitudin leo sed consequat.
                    </blockquote>
                    <h6 class="heading">A. Doe</h6>
                    <em>Nulla efficitur bibendum</em></article>
                <article class="one_half"><img src="images/demo/100x100.png" alt="">
                    <blockquote>Enim nulla et elementum ex phasellus nunc risus hendrerit eleifend malesuada vel
                        pharetra ut nisi proin venenatis ligula quis neque vestibulum vestibulum suspendisse eu.
                    </blockquote>
                    <h6 class="heading">B. Doe</h6>
                    <em>Etiam tempor risus eget</em></article>
            </div>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
        <figure class="hoc clear">
            <!-- ################################################################################################ -->
            <ul class="nospace group logos">
                <li class="one_quarter first"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
            </ul>
            <figcaption><a class="btn" href="#">Semper sed iaculis</a></figcaption>
            <!-- ################################################################################################ -->
        </figure>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Nulla mollis massa</h6>
                <p>Eu facilisis tempus fusce sagittis ex sit amet</p>
            </div>
            <div class="group latest">
                <article class="one_third first">
                    <figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>
                        <figcaption>
                            <time datetime="2045-04-06T08:15+00:00"><strong>06</strong> <em>Apr</em></time>
                        </figcaption>
                    </figure>
                    <div class="txtwrap">
                        <h4 class="heading">Elementum aliquam nisi</h4>
                        <ul class="nospace meta">
                            <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                            <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
                        </ul>
                        <p>Lorem posuere magna quis fermentum lorem elit nec lorem curabitur in finibus urna vivamus
                            magna enim semper [&hellip;]</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
                <article class="one_third">
                    <figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>
                        <figcaption>
                            <time datetime="2045-04-05T08:15+00:00"><strong>05</strong> <em>Apr</em></time>
                        </figcaption>
                    </figure>
                    <div class="txtwrap">
                        <h4 class="heading">Tincidunt eu porta quis</h4>
                        <ul class="nospace meta">
                            <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                            <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
                        </ul>
                        <p>Tellus integer viverra ante nec ullamcorper ullamcorper nulla tempus placerat ultricies
                            interdum et malesuada fames [&hellip;]</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
                <article class="one_third">
                    <figure><a href="#"><img src="images/demo/320x220.png" alt=""></a>
                        <figcaption>
                            <time datetime="2045-04-04T08:15+00:00"><strong>04</strong> <em>Apr</em></time>
                        </figcaption>
                    </figure>
                    <div class="txtwrap">
                        <h4 class="heading">Primis in faucibus etiam</h4>
                        <ul class="nospace meta">
                            <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                            <li><i class="fa fa-tag"></i> <a href="#">Category Name</a></li>
                        </ul>
                        <p>Curabitur tincidunt at quam sed fermentum in at leo non quam rutrum aliquet nullam quam odio
                            fermentum [&hellip;]</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
            </div>
            <!-- ################################################################################################ -->
            <div class="clear"></div>
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
{% endblock %}
<div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="heading">Commodo et blandit quis</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        Street Name &amp; Number, Town, Postcode/Zip
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        {#    <div class="one_third">#}
        {#      <h6 class="heading">Registeration</h6>#}
        {#      <p class="nospace btmspace-30">Register to attend the bootcamp</p>#}
        {#      <form method="post" action="#" id="register">#}
        {#        <fieldset>#}
        {#          <legend>Registeration::</legend>#}
        {#          <input class="btmspace-15" type="text" value="" placeholder="Name">#}
        {#          <input class="btmspace-15" type="text" value="" placeholder="Email">#}
        {#          <button type="submit" value="submit">Submit</button>#}
        {#        </fieldset>#}
        {#      </form>#}
        {#    </div>#}
        <div class=" align-right">
            {#      <h6 class="heading">Sem ipsum auctor dignissim</h6>#}
            <figure><a href="#"><img class=" btmspace-15" src="{% static 'images/iqube_logo.png' %}" alt="iqube_l"></a>
                {#        <figcaption>#}
                {#          <h6 class="nospace font-x1"><a href="#">Tortor congue quis arcu</a></h6>#}
                {#          <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>#}
                {#        </figcaption>#}
            </figure>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy;iQube 2017 - All Rights Reserved - <a href="#">iQube</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'scripts/jquery.fitvids.js' %}"></script>
</body>
</html>