{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content-wrapper %}
    <div class="container container-fluid" id="login">
    <div class="panel panel-default">
        <div class="panel-heading">
                    Login
        </div>
        {% crispy form%}
    </div>
    </div>

{% endblock %}