{% extends 'index.html' %}
{% block content-wrapper %}
    {% load crispy_forms_tags %}

    <div class="container container-fluid" id="register">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><center>Registration</center></h3>
            </div>
            <br>
            {% crispy form %}
        </div>

    </div>
{% endblock %}
