{% extends 'index.html' %}

{%  load crispy_forms_tags %}
{% block content-wrapper %}

    <div class="container container-fluid" id="team_creation">
    <div class="panel panel-default">
        <div class="panel-heading">
                   Team Creation
        </div>
        <br>
        {% crispy form%}
    </div>
    </div>
{% endblock %}